.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    color: #aaa;
  }
  
  .search-input {
    padding: 5px 10px 5px 30px; /* Add padding to account for the icon */
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-container {
    position: relative;
    margin-right: 10px;
  }
  
  .dropdown {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .notification-button {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .notification-icon {
    color: #555;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-name {
    font-weight: 500;
  }
  